<div class="dashboard-container">
  <img src="/assets/ambev-logo.png" alt="Ambev Logo" class="logo" />

  <h1>Developer Evaluation</h1>
  <h2>Dashboard</h2>

  <div class="card-grid">
    <div class="dashboard-card" (click)="navigateTo('branches')">
      <h3>Branches</h3>
    </div>

    <div class="dashboard-card" (click)="navigateTo('customers')">
      <h3>Customers</h3>
    </div>

    <div class="dashboard-card" (click)="navigateTo('products')">
      <h3>Products</h3>
    </div>

    <div class="dashboard-card" (click)="navigateTo('sales')">
      <h3>Sales</h3>
    </div>
  </div>
</div>
