<div class="form-container">
  <mat-card>
    <h2 class="title">Create Customer</h2>

    <form [formGroup]="form" (ngSubmit)="create()" class="form-grid">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" required />
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
          Save Customer
        </button>
      </div>

    </form>
  </mat-card>
</div>
