.container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 24px;
}

.full-width {
  width: 100%;
}

.button-group {
  text-align: right;
}

.info-message {
  margin-top: 12px;
  color: green;
  font-weight: bold;
}

.error-message {
  margin-top: 12px;
  color: red;
  font-weight: bold;
}
